node_modules/
dist/
build/
coverage/
.env*
!.env.example
.DS_Store
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Projects & Workspaces
workspace/
workspace/**

# Firebase & Security
*.firebase/
firebase-applet-config.json
firestore-debug.log
ui-debug.log
firebase-debug.log*
.firebase/
